	html *{
          margin: 0;
          padding: 0;
	}
	body{
		background-image: url(../images/wybj.jpg);
		background-repeat: repeat-x;
		width: 1124px;
		margin: 0  auto;
	}
	.header{
		height: 27px;
		line-height: 27px;
	}
	.top{
	
	}
	.top table{
		width: 100%;
	}
	.top table tbody tr td{
		color:#FFFFCC;
	}
	.topleftmenu{
		list-style: none;
		float: left;
		color: #FFFFCC;
		font-size: 12px;
	}
	.topleftmenu li{
		float: left;
		margin-left: 10px;
	}

   

	.topright{
		text-align: right;
	}
	.toprightmenu{
		list-style: none;
		float: right;
		color: #FFFFCC;
		font-size: 12px;
	}
	.toprightmenu li{
		float: left;
		margin-left: 10px;
	}

    .toprightmenu li img{
		vertical-align:middle;
		margin-bottom: 9px;
    }
    .toprightmenu li a{
		color: #FFFFCC;
		font-size: 12px;
		margin:3px 5px 3px 5px;
    }
    .sousou{
    	margin-top: 2px;
		border: none;
		padding: 1px 4px;
		height: 28px;
		width: 415px;
		line-height: 2px;
		color: #999999;
		font-size: 14px;
		font-family: "微软雅黑";
		padding: 0;
		outline:none;

    }
    .btnsearch{
		height: 30px;
		border: none;
		line-height: 25px;
		width: 78px;
		cursor: pointer;
		background-color: transparent;
		margin: 0;
		padding: 0;
		outline:none;
		border: none;
	}
	.seachform{
	
		margin-top: 0em;
	}
	.topseach{
		width: 506px;
		margin-top: 36px;
		height: 42px;
		background: url(../image/soubj.gif)  center no-repeat;
		font-size: 12px;
		padding: 0;
		display: block;


	}

	.topseach ul{
		list-style: none;
		margin: 0;
		padding: 0;
		padding-top: 5px;
		padding-left: 5px;
	}

	.topseach ul li{
		float: left;
		margin: 0;
		padding: 0;
		
	}
	.phoneinfo{
		width: 280px;
		float: right;
		color: #FFFF00;
		font-size: 20px		
	}

	.phoneinfo p{
		text-align:right;
		margin-top: 14px;
	}
    .topbody table{
    	width: 100%;
    	width: 1124px;
    }
	.body{
		border: 8px solid white;
		border-radius:2px;
		height: 800px;
		top: 157px;
		width: 940px;
		background-color: white;
		position: absolute;
	}
	.topbody{
		height: 130px;
		width: 100%;

	}
    
.navbar-yzh{
    font-size: 13px;
	font-family: "微软雅黑";
	color: #fffff;
	font-weight: bold;
	letter-spacing:2px;

}
.home{
	width: 50px;
}



.navbar{
	width: 1124px;
}
.article{
	width: 1170px;
}
.footer{
	height: 50px;
	text-align: center;
	border:1px solid #E3E3E3;
	margin-top: 5px;
	padding-top:5px;
	margin-left:3px;
}







.table_product{

	margin-top:5px; 
}
.productType{
	width: 256px;
	margin: 0px 3px 0px 3px;
}

.productType .productTypeHeader{
	width: 250px;
	height: 38px;
	background-image: url('../image/cplx.png');
}


.productType .productTypebody{
	margin-top:0px; 
	border: 2px solid rgb(208,0,0);
	width: 250px;
	height: 480px;
	overflow: hidden;
}


.productType .productTypebody ul{
	margin: 0;
	padding:0;
	margin-top:0px; 
	list-style: none;


}

.productType .productTypebody ul li{
	margin: 0;
	padding:0;
	padding-left: 10px;
	height: 30px;
	line-height: 30px;
}

.productType .productTypebody ul li.active{
	margin: 0;
	padding:0;
	padding-left: 10px;
	height: 30px;
	line-height: 30px;
	background-color: #E3E3E3;
}

.productType .productTypebody ul li a{
	text-decoration: none;
	cursor: pointer;
	color: black;
	font-size: 12px;
	height: 30px;
    line-height: 30px;
}

.product{
	height: 520px;
	width: 860px;
}

.productHeader{
	width:863px;
	height: 28px;
	position: relative;	
	background-color: transparent;
}

.productHeader img{
	width:863px;
	height: 28px;
	position: absolute;
	z-index: 0;
	margin: 0;
	padding:0;
	left: 0;
	top: 0;	
}


.productHeader p{
	float: left;
	display: block;
	height: 28px;
	line-height: 28px;
	text-decoration: none;
	padding: 0;
	margin: 0;
	margin-left:5px;
	padding-left: 5px;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #FFFFFF;
	z-index: 1;
	position: relative;
}

.productHeader a{
	float: right;
	display: block;
	height: 28px;
	line-height: 28px;
	padding: 0;
	color: #404040;
	z-index: 1;
	font-size: 12px;
	font-family: "微软雅黑";
	position: relative;
}

.productBody{
	border: 2px solid #E3E3E3;
	margin: 0;
	padding:0;
	margin-top: 11px;
	width:863px;
	height: 480px;
	position: relative;

}

.productBody  ul {
	list-style: none;
}

.productBody  ul li {
	float: left;
	height: 197px;
	width: 200px;
	border: 1px solid #E3E3E3;
	margin-left: 12px; 
	margin-top: 8px;
}

.productBody  ul li .productimg{
	height: 158px;
	width: 198px;
	cursor: pointer;
}


.productBody  ul li .productimg img{
	height: 154px;
	width: 194px;
	margin: 2px 2px;
	margin-bottom: 0px;
}



.productBody  ul li .productinfo{
	text-align: center;
	background-color:#eee;
	cursor: pointer;
}
.productBody  ul li .productinfo p{
	height: 18px;
	line-height: 18px;
	text-align: center;
	font-size: 12px;
	margin: 2px 2px;
	margin-top: 0px;
}
.pagelist{
	font-size: 14px;
	position: absolute;
	text-align: center;
	width: 100%;
	bottom:10px; 
}

