	html *{
          margin: 0;
          padding: 0;
	}
	body{
		background-image: url(../images/wybj.jpg);
		background-repeat: repeat-x;
		width: 1124px;
		margin: 0  auto;
	}
	.header{
		height: 27px;
		line-height: 27px;
	}
	.top{
	
	}
	.top table{
		width: 100%;
	}
	.top table tbody tr td{
		color:#FFFFCC;
	}
	.topleftmenu{
		list-style: none;
		float: left;
		color: #FFFFCC;
		font-size: 12px;
	}
	.topleftmenu li{
		float: left;
		margin-left: 10px;
	}

   

	.topright{
		text-align: right;
	}
	.toprightmenu{
		list-style: none;
		float: right;
		color: #FFFFCC;
		font-size: 12px;
	}
	.toprightmenu li{
		float: left;
		margin-left: 10px;
	}

    .toprightmenu li img{
		vertical-align:middle;
		margin-bottom: 9px;
    }
    .toprightmenu li a{
		color: #FFFFCC;
		font-size: 12px;
		margin:3px 5px 3px 5px;
    }
    .sousou{
    	margin-top: 2px;
		border: none;
		padding: 1px 4px;
		height: 28px;
		width: 415px;
		line-height: 2px;
		color: #999999;
		font-size: 14px;
		font-family: "微软雅黑";
		padding: 0;
		outline:none;

    }
    .btnsearch{
		height: 30px;
		border: none;
		line-height: 25px;
		width: 78px;
		cursor: pointer;
		background-color: transparent;
		margin: 0;
		padding: 0;
		outline:none;
		border: none;
	}
	.seachform{
	
		margin-top: 0em;
	}
	.topseach{
		width: 506px;
		margin-top: 36px;
		height: 42px;
		background: url(../image/soubj.gif)  center no-repeat;
		font-size: 12px;
		padding: 0;
		display: block;


	}

	.topseach ul{
		list-style: none;
		margin: 0;
		padding: 0;
		padding-top: 5px;
		padding-left: 5px;
	}

	.topseach ul li{
		float: left;
		margin: 0;
		padding: 0;
		
	}
	.phoneinfo{
		width: 280px;
		float: right;
		color: #FFFF00;
		font-size: 20px		
	}

	.phoneinfo p{
		text-align:right;
		margin-top: 14px;
	}
    .topbody table{
    	width: 100%;
    	width: 1124px;
    }
	.body{
		border: 8px solid white;
		border-radius:2px;
		height: 800px;
		top: 157px;
		width: 940px;
		background-color: white;
		position: absolute;
	}
	.topbody{
		height: 130px;
		width: 100%;

	}
    
.navbar-yzh{
    font-size: 13px;
	font-family: "微软雅黑";
	color: #fffff;
	font-weight: bold;
	letter-spacing:2px;

}
.home{
	width: 50px;
}



.navbar{
	width: 1124px;
}
.article{
	width: 1170px;
}
.footer{
	height: 50px;
	text-align: center;
	border:1px solid #E3E3E3;
	margin-top: 5px;
	padding-top:5px;
	margin-left:3px;
}



.trade .tradeHeader{

	height: 30px;
	font-size: 12px;
	line-height: 30px;
	margin-left:-12px;
	padding:0;
	background-color: #E3E3E3;
	width: 1122px;
}

.trade .tradeDate p{
	float: right;
	font-size: 12px;
}
.trade .tradeHeader img{

	height: 30px;
	width: 30px;
}

.tradeBody{
	margin-left:-12px;
	width: 1122px;
	margin-top: 5px;
	min-height:500px;
    height:auto !important;
    height:500px;
}
.tradeBody .tradeTitle{
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	
}
.tradeBody .tradeContent{
	margin-top: 10px;
}